@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
    font-family: 'Montserrat';
} */

body {
    font-family: 'Poppins';
}

/* @layer utilities {
    .sidebar {
        @apply h-[full] w-[20%] relative p-2 flex-col text-[#969696] gap-2 hidden lg:flex;
    }

    .sidebar--BG {
        @apply bg-[#121212] h-[100%] rounded-md flex flex-col justify-around;
    }

    .sidebar--Brand {
        @apply pl-5 m-3 ml-0 text-[#FFFFFF];
    }

    .sidebar--Menu {
        @apply flex items-center w-full h-full pl-4 pt-2 pb-2 gap-2 cursor-pointer rounded-md hover:text-[#FFFFFF] hover:bg-[#1c1c1c];
    }

    .sidebar--Font {
        @apply font-medium text-base tracking-[1px];
    }

    .sidebar--icon {
        @apply w-7 opacity-80;
    }

    .content {
        @apply w-[100%] h-auto mt-2 mb-1 flex-row items-center text-[#969696] lg:ml-0;
    }

    .content-box {
        @apply rounded-md bg-[#121212] mr-2 flex justify-between p-2;
    }

    .content-poster {
        @apply rounded-md opacity-100;
    }

    .sec-content {
        @apply flex-grow overflow-y-auto;
    }
} */



@layer utilities {
    .sidebar {
        @apply h-[full] w-[20%] relative p-2 flex-col text-[#969696] gap-2 hidden lg:flex;
    }

    .sidebar--BG {
        @apply bg-[#121212] h-[100%] rounded-md flex flex-col justify-around;
    }

    .sidebar--Brand {
        @apply pl-5 m-3 ml-0 text-[#FFFFFF];
    }

    .sidebar--Menu {
        @apply flex items-center w-full h-full pl-4 pt-2 pb-2 gap-2 cursor-pointer transition-colors duration-300;
    }

    .sidebar--Menu:hover {
        @apply bg-[#1c1c1c];
    }

    .sidebar--Menu:hover .sidebar--Font,
    .sidebar--Menu:hover .sidebar--icon {
        @apply text-[#FFFFFF] font-bold;
    }

    .sidebar--Menu:hover .sidebar--icon {
        @apply scale-110 ease-in-out;
    }

    .sidebar--Font {
        @apply font-medium text-base tracking-[1px];
    }

    .sidebar--icon {
        @apply w-7 opacity-80 transition-opacity duration-300;
    }

    .sidebar--Menu:hover .sidebar--icon {
        @apply opacity-100;
    }

    .content {
        @apply w-[100%] h-auto mt-2 mb-2 flex-row items-center text-[#969696] lg:ml-0;
    }

    .content-box {
        @apply rounded-md bg-[#121212] mr-2 flex justify-between p-2;
    }

    .content-poster {
        @apply rounded-md opacity-100;
    }

    .sec-content {
        @apply flex-grow overflow-y-auto;
    }
}
